<nav class="navbar navbar-expand-md navbar-dark navbar-color">
  <a class="navbar-brand" href="/public">AgriMatch</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <% if account_signed_in? %>

      <li class="nav-item">
        <%= link_to accounts_path, class: "nav-link" do %>
          農家一覧 <span class="sr-only">(current)</span>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to properties_path, class: "nav-link" do %>
          新規募集
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to posts_path, class: "nav-link" do %>
          ブログ
        <% end %>
      </li>
    
    <% else %>

      <li class="nav-item">
          <a class="nav-link" href="/intro">概要<span class="sr-only">(current)</span></a>
      </li>
      
      <li class="nav-item">
        <%= link_to "ブログ", blog_path, class: "nav-link" %>
      </li>

    <% end %>

    </ul>

    <% if account_signed_in? %>
      <%= link_to "ログアウト", destroy_account_session_path, method: :delete, class: "btn btn-success float-sm-right" %>
    <% else %>
      <%= link_to "ログイン", new_account_session_path, class: "btn btn-color mr-2 float-sm-right" %>
      <%= link_to "新規登録", new_account_registration_path, class: "btn btn-color float-sm-right" %>
    <% end %>
  </div>
</nav>