<nav class="navbar navbar-expand-md navbar-dark navbar-color">
  <a class="navbar-brand" href="/public">AgriMatch</a>
    <div class="hamburger navbar-toggler">
      <span></span>
      <span></span>
      <span></span>
      <nav class="globalMenuSp">
        <ul>
          <li><a href="#">Menu1</a></li>
          <li><a href="#">Menu2</a></li>
          <li><a href="#">Menu3</a></li>
          <li><a href="#">Menu4</a></li>
          <li><a href="#">Menu5</a></li>
        </ul>
      </nav>
    </div>


  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <% if account_signed_in? %>

      <li class="nav-item">
        <%= link_to accounts_path, class: "nav-link" do %>
          農家一覧 <span class="sr-only">(current)</span>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to properties_path, class: "nav-link" do %>
          新規募集
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to posts_path, class: "nav-link" do %>
          ブログ
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to profile_path(current_account), class: "nav-link" do %>
          Myページ
        <% end %>
      </li>
    
    <% else %>

      <li class="nav-item">
          <a class="nav-link" href="/intro">AgriMatchとは<span class="sr-only">(current)</span></a>
      </li>
      
      <li class="nav-item">
        <%= link_to "ブログ", blog_path, class: "nav-link" %>
      </li>

    <% end %>

    </ul>
  
    <ul class="navbar-nav">
      <% if account_signed_in? %>
        <li class="nav-item">
          <%= link_to new_property_path, class: "nav-link" do %>
            New Match
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to new_post_path, class: "nav-link" do %>
            ブログ更新
          <% end %>
        </li>
        <li class="nav-item">  
          <%= link_to "ログアウト", destroy_account_session_path, method: :delete, class: "btn btn-success float-sm-right" %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "ログイン", new_account_session_path, class: "btn btn-color mr-2 float-sm-right" %>
        </li>
        <li class="nav-item">  
          <%= link_to "新規登録", new_account_registration_path, class: "btn btn-color float-sm-right" %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
