<div class="text-center">
  <div class="mb-2">
    <%= profile_picture agent %>
  </div>
  <h3 class="h3 m-0"><%= agent.full_name%></h3>
  <p><%= agent.company %></p>

  <div class="row justify-content-lg-center">
    <div class="col-lg-8">
      <button class="btn btn-block btn-info text-uppercase mb-1" id="show-tel" data-telephone="<%= agent.telephone %>"><i class="fas fa-phone mr-2"></i><span>Call</span></button>
    </div>
    <div class="col-lg-8">
      <button class="btn btn-block btn-success text-uppercase" data-toggle="modal" data-target="#contact-model"><i class="fas fa-envelope mr-2"></i>Email</button>
    </div>
  </div>
  <ul class="nav flex-column mb-2">
    <li class="nav-item">
      <%= link_to edit_account_registration_path, class: "nav-link" do %> 
        <i class="fas fa-chart-bar"></i>
        アカウント設定        
      <% end %> 
    </li>
  </ul>
</div>